force-app/main/default/flows/Flow_To_Fetch_the_Book_Quanity_For_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Please provide the quantity of the books</description>
        <name>Assign_Quanity_Agent</name>
        <label>Assign Quanity to Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QuantityOfBooks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flow_To_Fetch_Book_Quantity_Details.Quantity__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>This flow is useful when user gives the name of book ten it fetches the quantity of books</description>
    <environments>Default</environments>
    <interviewLabel>Flow To Fetch the Book Quanity For Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow To Fetch the Book Quanity For Agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This flow is used when user provide the names of book, please fetch the quantity</description>
        <name>Flow_To_Fetch_Book_Quantity_Details</name>
        <label>Flow To Fetch Book Quantity Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Quanity_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BookIDName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Book_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flow_To_Fetch_Book_Quantity_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This variable store the book object details to fetch the all the book quantity.</description>
        <name>BookIDName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the variable holds the quantity of books</description>
        <name>QuantityOfBooks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
